body {

   

    background-image: url("/images/sport.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    overflow: hidden;
}


/* html, body {
    height: 100%;
    margin: 0;
    padding: 0;
} */

.loginform {
    /* background-color: #ffffff; */
    width: 30%;
    height: auto;
    margin: 10% auto;
    padding: 25px 10px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}
button{
    width: 100px;
}

